<div *ngIf="user" class="ui container">
  <div *ngIf="shoppingcart.length > 0">
    <div class="ui items segment">
      <div class="item" *ngFor="let p of shoppingcart">
        <div class="image">
          <img src="data:{{p.product.image.filetype}};base64,{{p.product.image.value}}" alt="{{p.product.image.filename}}">
        </div>

        <div class="content">
          <h1 class="header">{{p.product.name}}</h1>
          <div class="header right floated"> € {{p.product.price}} </div> <br>
          <div class="right floated">
            <div class="ui mini input">
              <input type="number" value="{{p.amount}}" min="0" (change)="changeCartAmount(amount.value, p.product._id)" #amount>
            </div>
          </div>
          
          <div class="description">
            <p>{{p.product.category}}</p>
          </div>
          <div class="extra">{{p.product.description}}</div>
        </div>
      </div>

      <div class="item">
        <div class="content">
          <div class="header right floated">Total price: € {{fullPrice}}</div>
        </div>
      </div>

      <div class="item">
          <div class="content">
            <button class="ui orange medium button left floated" (click)="order()">Bestellen</button>
          </div>
        </div>
    </div>
  </div>

  <div *ngIf="shoppingcart.length == 0" class="ui container">
    <h1>No items in cart</h1>
    <a routerLink="/home" routerLinkActive="active">Start shopping here</a>
  </div>
</div>