<div class="ui secondary menu">
  <div class="left menu">
    <a routerLink="/home" routerLinkActive="active" class="ui item">
      Home
    </a>

    <a *ngIf="user && !isAdmin" routerLink="/orders" routerLinkActive="active" class="ui item">
      My orders
    </a>

    <a *ngIf="user && isAdmin" routerLink="/admin" routerLinkActive="active" class="ui item">
      Admin
    </a>
  </div>

  <div class="right menu">
    <a routerLink="/basket" routerLinkActive="active" class="ui item" data-tooltip="" data-position="bottom center" #basket> 
        <i class="shopping basket icon"></i>
        {{amount}}
      </a>

    <!--Not logged in-->
    <a *ngIf="!user" routerLink="/login" routerLinkActive="active" class="ui item">
      Login
    </a>
    <a *ngIf="!user" routerLink="/register" routerLinkActive="active" class="ui item">
      Register
    </a>

    <!--Logged in-->
    <p *ngIf="user" class="ui item">
      {{user}}
    </p>
    <a *ngIf="user" (click)="logout()" class="ui item">
      Logout
    </a>
  </div>
</div>
