<div class="ui container two column grid" id="container">
  <div *ngFor="let order of orders" class="column">
    <div class="ui segment">
      <h2 class="ui header">
        <div class="content">
          Order 
          <div class="sub header">{{order._id}}</div>
          <div class="sub header">{{order.formatDate()}}</div>
        </div>
      </h2>

      <div *ngFor="let p of order.products">
        <!---->
        <div class="ui items">
          <div class="item">
            <div class="content">
              <p class="left floated">{{p.product.name}}</p>
              <div class="right floated">{{p.amount}}x € {{p.product.price}} </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui items">
        <div class="item">
          <div class="content">
            <p class="left floated">Total price:</p>
            <div class="right floated">€ {{order.totalPrice}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>