<div class="ui container">
  <div class="ui form">
    <div class="field">
      <div class="ui right aligned category search item">
        <div class="ui icon input">
          <input type="text" placeholder="Search product..." (keyup)="filterOpValue(search.value)" #search>
          <i class="search link icon"></i>
        </div>
      </div>
    </div>

    <div class="inline fields">
      <div *ngFor="let cat of categories" class="field">
        <div class="ui checkbox">
          <input type="checkbox" name="example" (change)="addFilterCategory(cat)">
          <label>{{cat}}</label>
        </div>
      </div>

      <div class="ui checkbox">
        <input type="checkbox" name="example" (change)="filterOpLiked()">
        <label>Liked</label>
      </div>
    </div>
  </div>

  <div class='ui grid container'>
    <div *ngFor='let p of showProducts' class='four wide column'>
      <app-product-pagina [product]="p" [user]="user"></app-product-pagina>
    </div>
  </div>
</div>